body {
    background: linear-gradient(to bottom, #1E70F1, #1EC5FB);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#app {
    text-align: center;
}

#app h1 {
    text-align: center;
}

#weather h2 {
    text-align: center;
}

#weather {
    margin-top: 20px;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"] {
    width: 60%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

button {
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2c11d9;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #190883;
}

p {
    font-size: 16px;
    text-align: center;
}

.logo img {
    width: 100px;
    height: auto;
    position: fixed;
    bottom: 10px;
    right: 25px;
}
